{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <header class="mentions_head">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Mentions légales</h1>
                    <hr class="divider my-4" />
                </div>
            </div>
        </div>
    </header>
<section class="page-section">
    <div class="container bg-light rounded shadow p-3">
        <div class="row">
            <div class="col-lg-6">
                <p>Nom:</p>
            </div>
            <div class="col-lg-6">
                <p>NOWACZYK</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Prénom:</p>
            </div>
            <div class="col-lg-6">
                <p>Vincent</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Adresse:</p>
            </div>
            <div class="col-lg-6">
                <p>3223 rue des Clefs.74230 LES CLEFS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Téléphone:</p>
            </div>
            <div class="col-lg-6">
                <p>+33 6 31 47 07 08</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Coordonnées de l'hebergeur:</p>
            </div>
            <div class="col-lg-6">
                <p>Heroku </br>
                50 Fremont St.</br>
                Suite 300</br>
                San Francisco, CA</br>
                94105</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Template utilisé: </p>
            </div>
            <div class="col-lg-6">
                <a href="https://startbootstrap.com/themes/creative/" class="btn btn-primary">Template Bootstrap</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Charte graphique utilisée: </p>
            </div>
            <div class="col-lg-6">
                <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9" class="btn btn-primary">Charte graphique</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}


